body {
    text-align: center;
    background-image: url("image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
a {
    color: black;
}